@import "../../sass/mixins.scss";
.offcanvas{
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    overflow-y: auto;
    z-index: 100000;
    &.open{
        transform: translateX(0);
    }
}

.btn-close {
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
}
.offcanvas-header {
    display: flex;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

.offcanvas-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .total-price{
        display: flex;
        justify-content: space-between;
    }
    .buy{
        width: 60%;
        background-color: greenyellow;
        border: 2px solid transparent;
        border-radius: 5px;
        transition-duration: 0.5s;
        &:hover{
            background-color: rgb(0, 222, 0);
        }
    }
}
.cart-item{
    display: flex;
    justify-content: space-between;
    div:nth-child(1){
        display: flex;
        gap: 10px;
        img{
            width: 120px;
        }
        .cart-item-desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }
    div:nth-child(2){
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
}